</ul>
<div id="wiki"><a href="http://thunis.peacock.uberspace.de/wiki"><svg width="500" height="100">
  <image xlink:href="frontpage_data/wiki_rendered.svg" width="500" height="100"/>
  <foreignObject><img src="frontpage_data/wiki_rendered.png" width="500" height="100" alt="zum Wiki"/></foreignObject>
</svg></a></div>
</div><!-- container -->
</body>
